@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-clr: #bf9343;
  --secondary-clr: #1a1a1a;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body.no-scroll {
  background: url("/imgs/banner-bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  
}


section {
  background: url("imgs/banner-bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  padding: 20px;
  min-height: calc(100vh - 50px) /* Пълно запълване на екрана */
}

li {
  list-style: none;
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p,
li {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: rgb(54, 54, 54);
  line-height: 1.7;
  transition: 0.4s ease;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-clr);
  line-height: 1.4;
  font-weight: bold;
  font-family: "Domine", sans-serif;
  text-transform: capitalize;
  transition: 0.4s ease;
}

img {
  width: 100%;
  transition: 0.4s ease;
}

.navbar-brand.logo img {
  transition: all 0.3s ease-in-out;
}

.navbar-brand.logo:hover img {
  transform: scale(1.2);
  opacity: 0.9;
  filter: brightness(1.1) hue-rotate(40deg);
  box-shadow: 0 15px 30px var(--primary-clr);
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 16px;
  padding: 5px 20px !important;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: var(--primary-clr);
  border-radius: 5px;
}

.nav-btn a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  background-color: var(--primary-clr);
  gap: 10px;
  width: max-content;
}

.nav-btn a:hover {
  background-color: var(--secondary-clr);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--secondary-clr);
  z-index: 99;
}

.navbar-brand img {
  width: 120px;
  height: auto;
}

#recipe-form,
#edit-form {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px;
  
}

#recipe-form-container,
#edit-form-container {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px;
  width: 100%;
  max-width: 700px;
  border: 1px solid rgba(255, 255, 255, 0.2);
 
}

/* Form Inputs */
#recipe-form-container input[type="text"],
#recipe-form-container input[type="file"],
#recipe-form-container textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Submit Button Styling */
#recipe-form-container input[type="submit"] {
  background-color: var(--primary-clr);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#recipe-form-container input[type="submit"]:hover {
  background-color: var(--secondary-clr);
}

/* Form Inputs */
#edit-form-container input[type="text"],
#edit-form-container input[type="file"],
#edit-form-container textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Submit Button Styling */
#edit-form-container input[type="submit"] {
  background-color: var(--primary-clr);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#edit-form-container input[type="submit"]:hover {
  background-color: var(--secondary-clr);
}

#login-page,
#register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px;

}

#login,
#register {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#login input,
#register input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}

#login input:focus,
#register input:focus {
  border-color: var(--primary-clr);
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
}

input[type="submit"].submit {
  background-color: var(--secondary-clr);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"].submit:hover {
  background-color: var(--primary-clr);
}

.field {
  text-align: center;
  font-size: 14px;
  color: var(--secondary-clr);
}

.field a {
  color: var(--primary-clr);
  font-weight: bold;
}

.field a:hover {
  text-decoration: underline;
}





.banner-sec {
  position: relative;
  padding: 160px 0;
  background-size: cover;
}

.banner-content h6 {
  color: var(--primary-clr);
  font-size: 20px;
}

.banner-content h2 {
  font-size: 48px;
  color: white;
}

.banner-content p {
  color: white;
}


.about {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);

  padding: 50px 0;
}
 

.about-sec .title-p {
  font-size: 38px;
  color: var(--primary-clr);
}

.about-img img {
  width: 100%;
}

p.title-p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-clr);
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

p.title-p img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

h2.title-h {
  color: var(--secondary-clr);
  font-size: 38px;
}


/* recipes gallery */

.service-sec {
  background: #f1f1f1;
  margin-bottom: 0;
}

.service-box {
  width: 96%;
  margin-top: 50px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  min-height: 350px; /* Keeps the box from collapsing */
  position: relative; /* Allows the image to overlap the text */
  margin-bottom: 40px;
}

.ser-img {
  width: 130px;
  height: 130px;
  margin-top: 10;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.ser-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ser-text {
  padding: 80px 30px 30px 30px;
  background-color: white;
  border-radius: 0px 57px 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.service-box .ser-text p {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 10px 0;
  margin-bottom: 10px;
}

.ser-arr a {
  background-color: var(--primary-clr);
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.ser-arr a:hover {
  background-color: var(--secondary-clr);
}


/*  Footer */
footer {
  background-color: var(--secondary-clr);
  padding: 15px 0;
  text-align: center;
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
}

.footer-content p {
  color: white;
  font-size: 14px;
}

.footer-content a {
  color: var(--primary-clr);
  font-weight: 600;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}




@media only screen and (max-width: 991px) {
  button.navbar-toggler {
    order: 3;
    background-color: var(--primary-clr); 
    border: 1px solid var(--primary-clr); 
  }
  button.navbar-toggler .navbar-toggler-icon {
    background-color: var(--primary-clr); 
  }


  button.navbar-toggler:hover {
    background-color: var(--secondary-clr);
  }

  button.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(191, 147, 67, 0.5); 
  }
  .service-tab {
    margin-bottom: 25px;
  }
}

/*  for mobile  */

@media only screen and (max-width: 575px) {
  .banner-sec {
    padding: 60px 0;
    background-position: center;
    background-color: var(--primary-clr); 
    border: 1px solid var(--primary-clr); 
  }
  button.navbar-toggler .navbar-toggler-icon {
    background-color: white; 
  }

  
  button.navbar-toggler:hover {
    background-color: var(--secondary-clr);
  }

  button.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(191, 147, 67, 0.5); 
  }
  .banner-content h2 {
    font-size: 35px;
    width: 64%;
  }

  .banner-content p {
    display: none;
  }

  h2.title-h {
    font-size: 28px;
  }

  .nav-btn.float-end {
    float: left !important;
  }

  .nav-tabs {
    margin-bottom: 20px;
    gap: 10px;
  }
}


#recipe-details {
 
  padding: 50px 0;
}

#recipe-details .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#recipe-details h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
}

.recipe-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(59, 59, 59, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Title and content sections */
.recipe-title {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.recipe-title h3 {
  font-family: "Poppins", sans-serif;
  color: #bf9343;
  font-size: 28px;
  margin-bottom: 10px;
}

.recipe-image {
  flex: 0 0 40%;
  text-align: center;
  margin-right: 20px;
  padding-top: 30px;
}

.recipe-image img {
  width: 55%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.recipe-description {
  flex: 0 0 55%;
  text-align: left;
  padding-bottom: 50px; /* Create space for buttons */
}

.recipe-description h4 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 22px;
  margin-bottom: 15px;
}

.recipe-description p {
  font-size: 12px;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box;
}

/* Прозрачен стил за бутоните */
.buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.buttons .button {
  padding: 8px 20px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: auto;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.buttons .edit-button,
.buttons .delete-button {
  background-color: rgba(191, 147, 67, 0.9);
}

.buttons .edit-button:hover,
.buttons .delete-button:hover {
  background-color: #1a1a1a;
  transform: scale(1.05);
}
