
   .container {
    display: flex;
    align-items: center;
    background: #474747;
    padding: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    cursor: pointer;
  }
  
  .input {
    width: 0;
    color: #fff;
    border: none;
    background: transparent;
    outline: none;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .magnifier {
    color: #ffa31a;
    font-size: 20px;
    transition: transform 0.3s;
  }
  
  .active {
    width: 250px;
    border-radius: 25px;
    justify-content: flex-start;
    padding: 5px 15px;
  }
  
  .active .input {
    width: 100%;
    opacity: 1;
    margin-left: 10px;
  }